<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>({ Title })</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<h1>{{ title }}</h1>

<table class="table_style">
    <tr>
        <td class="columns_name">id</td>
        <td class="columns_name">name</td>
        <td class="columns_name">email</td>
        <td class="columns_name">password</td>
    </tr>
    {% for user in users %}
    <tr>
        <td class="cell">{{ user.id }}</td>
        <td class="cell">{{ user.name }}</td>
        <td class="cell">{{ user.email }}</td>
        <td class="cell">{{ user.password }}</td>
    </tr>
</table>

</body>
</html>